---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
<ul>
	<li><a href="/react">React Micro Frontend</a></li>
	<li><a href="/solid">Solid Micro Frontend</a></li>
</ul>
</Layout>
